html {
  width: 400px;
}

#yourConf {
  display: none;
}

#logContent {
  display: none;
  overflow-wrap: anywhere;
  padding: 5px 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
}

.storageControls {
  width: 100%;
  border: none;
  background: #3d67a5;
  color: white;
  border-radius: .25rem;
  padding: 5px 10px;
  margin: 5px auto;
  cursor: pointer;
}
